#stack {
  display: -moz-stack;
  padding: 0;
  margin: 0;
}

#page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#seats {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#empty {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 248px;
  height: 41px;
  background: url("chrome://mft3k/skin/images/empty.png") right bottom repeat-x;
}

#occupied {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 248px;
  height: 90px;
  background: url("chrome://mft3k/skin/images/occupied.png");
}
