#stack {
  display: -moz-stack;
  padding: 0;
  margin: 0;
}

#page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#seats {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#empty {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 248px;
  height: 41px;
  background: url("chrome://mft3k/skin/images/empty.png") right bottom repeat-x;
}

#occupied {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 248px;
  height: 90px;
  background: url("chrome://mft3k/skin/images/occupied.png");
}

/* speech bubbles for extra fun */
#speechbubble {
  position: absolute ;
  bottom: 90px ;
  right: 50px ;
  width: 100px ;
  background-color: white ;
  border: 2px solid black ;
  -moz-border-radius: 7px ;
  padding: 2px ;
  font-size: x-small ;
  overflow: hidden ;
  vertical-align: middle ;
  text-align: center ;
}

#speechbubblefin {
  position: absolute ;
  bottom: 78px ;
  right: -40px ;
  width: 10px ;
  height: 10px ;
  background-color: white ;
  border: 2px solid black ;
  border-top: 2px solid white ;
  -moz-border-radius-bottomleft: 10px ;
}
